@model ELawyer.Models.ViewModels.ConsultationPaymentViewModel

@{
    ViewData["Title"] = "Consultation";
}

<h1>Consultation</h1>

<h4>Consultation</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConsultationPost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Payment.LawyerId"/>
            <div class="form-group">
                <label asp-for="@Model.Consultation.Title" class="control-label"></label>
                <input asp-for="@Model.Consultation.Title" class="form-control"/>
                <span asp-validation-for="@Model.Consultation.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.Description" class="control-label"></label>
                <input asp-for="@Model.Consultation.Description" class="form-control"/>
                <span asp-validation-for="@Model.Consultation.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Consultation.Attachments" class="control-label"></label>
                <input asp-for="@Model.Consultation.Attachments" class="form-control" type="file" name="file"/>
                <span asp-validation-for="@Model.Consultation.Attachments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
