@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "ShowInvoices";
}

<h1>ShowInvoices</h1>

<p>
    <a asp-action="Index" asp-controller="Lawyer">Bak To List</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>


            </tr>
        }
    }
    </tbody>
</table>
