@model IEnumerable<ELawyer.Models.Response>

@{
    ViewData["Title"] = "ShowLawyerResponse";
}

<h1>ShowLawyerResponse</h1>
<a asp-controller="Lawyer" asp-action="Index">Back To List</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
            
                <td>
                    @if (!string.IsNullOrEmpty(item.Attachments))
                    {
                        <a href="@Url.Action("Download", "Cart", new { fileName = item.Attachments })" download>
                            Download
                        </a>
                    }
                </td>
              
            </tr>
          
        }
    </tbody>
</table>
