@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/shared.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/responsive-login.css" asp-append-version="true"/>
}

<section class="login-section form-section d-flex justify-content-center align-items-center section-muted py-5">
    <div
        class="login-container form-container position-relative cw px-5 py-3 text-center d-flex flex-column text-center gap-3 section-muted">
        <div class="head mb-3">
            <h1>Hello Again!</h1>
        </div>

        <div class="login-manually">
            <form id="account" method="post" class="d-flex flex-column gap-3">
                <div asp-validation-summary="ModelOnly" class="not-valid d-flex align-items-center" role="alert">
                    <i class="fa-solid fa-exclamation"></i>
                </div>
                <div class="email-input txt-input d-flex flex-column">
                    <input asp-for="Input.Email" class="email" autocomplete="username" aria-required="true"
                           placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="not-valid"></span>
                </div>

                <div class="password-input txt-input d-flex flex-column">
                    <input asp-for="Input.Password" class="password" autocomplete="current-password"
                           aria-required="true" placeholder="Password"/>
                    <span asp-validation-for="Input.Password" class="not-valid"></span>
                </div>

                <div class="remember-forget d-flex justify-content-between align-items-center gap-3 flex-wrap mb-4">
                    <label asp-for="Input.RememberMe" class="d-flex align-items-center txt-muted">
                        <input class="checkbox-input d-inline-block position-relative" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    <a id="forgot-password" class="txt-muted text-decoration-none" asp-page="./ForgotPassword">Recovery
                        Password</a>
                </div>

                <button id="login-submit" type="submit" class="login-btn button">Log in</button>

                <div class="direct-link">
                    <p>
                        Don't have an account?
                        <a class="text-decoration-none txt-muted" asp-page="./Register"
                           asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="another-way">
            <div class="another-way-text d-flex gap-2 justify-content-center align-items-center mb-3">
                <div class="line"></div>
                <p>Or continue with</p>
                <div class="line"></div>
            </div>


            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
                  method="post" class="form-horizontal d-flex justify-content-center ">
                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button type="submit"
                            class="provider-login facebook d-flex justify-content-center align-items-center position-relative"
                            name="provider" value="@provider.Name"
                            title="Log in using your @provider.DisplayName account">
                        <i class="fa-brands fa-facebook-f"></i>
                    </button>
                }
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
