@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/account/register.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/register.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account/shared.css" asp-append-version="true"/>
}


<section class="register-section form-section d-flex justify-content-center align-items-center section-muted py-5">
    <div
        class="register-container form-container position-relative cw px-5 py-3 text-center d-flex flex-column text-center gap-3 section-muted">
        <div class="head mb-3">
            <h1>Sign Up</h1>
        </div>

        <div class="manually">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                  class="d-flex flex-column gap-3 align-items-center justify-content-center">
                <div class="inputs-container d-flex flex-wrap gap-3 align-items-center justify-content-center mb-4">
                    <div asp-validation-summary="ModelOnly" class="not-valid" role="alert">
                        <i class="fa-solid fa-exclamation"></i>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.FirstName" class="first-name" placeholder="FirstName"/>
                        <span asp-validation-for="Input.FirstName" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.LastName" class="last-name" placeholder="LastName"/>
                        <span asp-validation-for="Input.LastName" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.Email" class="email" autocomplete="username" aria-required="true"
                               placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.Address" class="address" autocomplete="Address" aria-required="true"
                               placeholder="Address"/>
                        <span asp-validation-for="Input.Address" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.Password" class="password" autocomplete="new-password"
                               aria-required="true"
                               placeholder="Password"/>
                        <span asp-validation-for="Input.Password" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column">
                        <input asp-for="Input.ConfirmPassword" class="confirm-pass" autocomplete="new-password"
                               aria-required="true"
                               placeholder="Confirm Password"/>
                        <span asp-validation-for="Input.ConfirmPassword" class="not-valid"></span>
                    </div>

                    <div class="txt-input d-flex flex-column ">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" required>
                            <option disabled selected class="txt-muted">-- Select Role --</option>
                        </select>

                        <span asp-validation-for="Input.Role" class="not-valid"></span>
                    </div>
                </div>

                <button id="registerSubmit" type="submit" class="register-btn button shared-btn">Register</button>
            </form>
        </div>

        <div class="another-way">
            <div class="another-way-text d-flex gap-2 justify-content-center align-items-center mb-3">
                <div class="line"></div>
                <p>Or register with</p>
                <div class="line"></div>
            </div>

            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                  class="form-horizontal d-flex justify-content-center">
                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button type="submit"
                            class="provider-login facebook d-flex justify-content-center align-items-center position-relative"
                            name="provider" value="@provider.Name"
                            title="register using your @provider.DisplayName account">
                        <i class="fa-brands fa-facebook-f"></i>
                    </button>
                }
            </form>
        </div>
    </div>
</section>



@section Scripts {




    <partial name="_ValidationScriptsPartial"/>
}
