@model PaginatedList<ClientItemVm>

<table class="w-100 text-center mb-4 overflow-scroll">
    <thead>
    <tr>
        <th class="px-6 py-3 text-xs uppercase">Name</th>
        <th class="px-6 py-3 text-xs uppercase">Email</th>
        <th class="px-6 py-3 text-xs uppercase">Phone</th>
        <th class="px-6 py-3 text-xs uppercase">Status</th>
        <th class="px-6 py-3 text-xs uppercase">Actions</th>
    </tr>
    </thead>
    <tbody class="divide-y">

    @foreach (var client in Model)
    {
        <tr>
            <td class="px-6 py-4">@client.FullName</td>
            <td class="px-6 py-4">@client.Email</td>
            <td class="px-6 py-4">
                @(string.IsNullOrEmpty(client.Phone) ? "Phone number not found" : client.Phone)
            </td>
            <td class="px-6 py-4">
                    <span
                        class="px-2 py-1 text-sm @(client.IsActive ? "active" : "inactive")">
                        @(client.IsActive ? "Active" : "Inactive")
                    </span>
            </td>
            <td class="action px-6 py-4 d-flex justify-content-center flex-wrap">
                <a asp-action="Edit" asp-route-id="@client.Id" class="mr-3 text-decoration-none position-relative">
                    Edit
                    <div class="line position-absolute"></div>
                </a>

                <form asp-controller="ClientManagements" asp-action="ToggleStatus" asp-route-id="@client.Id"
                      method="post">
                    <button type="submit" class="position-relative">
                        Toggle Status
                        <div class="line position-absolute"></div>
                    </button>
                </form>
                
                <a asp-action="Delete" asp-route-id="@client.Id" class="mr-3 text-decoration-none position-relative">
                    Delete
                    <div class="line position-absolute"></div>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>