@model List<Admin>


@{
    ViewData["Title"] = "List of Clients";
}

<h2 class="mb-4">Clients</h2>

<div class="row">
    @foreach (var client in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-text">
                    <div>

                        <img src="@client.ImageUrl" class="card-img-top rounded"/>

                    </div>
                    <div>
                        <label> Name: @client.ApplicationUser.FirstName </label>

                    </div>
                    <div>
                        <label>LastName: @client.ApplicationUser.LastName</label>

                    </div>


                    <div>
                        <label>Address: @client.Address </label>

                    </div>
                    <div>
                    </div>

                </div>


                <div class="d-flex justify-content-between">


                    <a asp-action="Details" asp-route-id="@client.Id" class="btn btn-info btn-sm">Details</a>

                </div>
            </div>
        </div>
    }
</div>
